<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      footer{
       
        color:white;
        width:100%;
      }
     
    </style>
</head>
<body>
    <!-- Footer -->
<footer class="bg-dark text-center ">
    <!-- Grid container -->
    <div style="color:white;" class="container p-4 bg-dark">
  
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
       
  
  
      <!-- Section: Text -->
      
  
  
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            
            <h5 class="text-uppercase"><i class="fa fa-paper-plane" aria-hidden="true"></i>Links</h5>
  
            <ul class="list-unstyled mb-0 ff">
              <li>
                <a href="http://127.0.0.1:8000/todos/service/" class="text-light">Menu </a>
              </li>
              <li>
                <a href="http://127.0.0.1:8000/todos/about/" class="text-light">About</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase"><i class="fa fa-clone" aria-hidden="true"></i>Contact</h5>
  
            <ul class="list-unstyled mb-0 ff">
              <li>
                <a href="#!" class="text-light">7697259416</a>
              </li>
              <li>
                <a href="#!" class="text-light">livewire@gmail.com</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase"><i class="fa fa-clock-o" aria-hidden="true"></i>Hours</h5>
  
            <ul class="list-unstyled mb-0 ff">
              <li>
                <a href="#!" class="text-light">Monday - Sunday</a>
              </li>
              <li>
                <a href="#!" class="text-light">10 am - 10 pm</a>
              </li>
              
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase"><i class="fa fa-map-marker" aria-hidden="true"></i>Location</h5>
  
            <ul class="list-unstyled mb-0 ff">
              <li>
                <p class="text-light" style="text-align:justify;">LIVEWIRE INDORE
                  #206, 2nd Floor, Fortune Aura Business park ( Kyro Building 1, Gurmeet Nagar, Bhanwarkua Main Road Landmark- Above Nexa Car Showroom, near Apple hospital, Indore, Madhya Pradesh 452014</p>
              </li>
              <li>
                
              </li>
              
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
  
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2020 Copyright:
      <a class="text-light" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
</body>
</html>