{% extends 'base.html'%}
{%block content%}
<head>
    <style>
        .img1{
            margin-bottom: 600px;
        }
        .con{
            background-color: rgb(249, 240, 230);
        }
       .butt{
        background-color: rgb(244, 236, 226);
        height:50px;
        width:200px;
        font-size:20px;



        }
        .butt:hover{
          background-color: black;
          color: aliceblue;

        }
        .con2{
          background-color: rgb(252, 244, 234);
          height:50%;
        }

        
    </style>
</head>
<div class="row">
    <div class="col-xs-6 col-md-5 img1">
      <a href="#" class="thumbnail">
        <img src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=656,h=752,fit=crop/ginza37pa0/HomeImg-d9vXl7GZk7tZP813.png" alt="...">
      </a>
    </div>
   
    <div class="col-xs-6 col-md-5">
        <h1 style="margin-left:200px;margin-top:100px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:80px;">Memories </h1>
        <h1 style="margin-left:200px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:80px;"> made in food</h1><br><br><br>
        <p style="text-align:justify;margin-left:200px;">Our eclectic menu reflects the wide variety of influences and experiences that inform our approach to cooking. We don’t just serve dishes, we serve memories.  </p><br><br><br>
       <a href="http://127.0.0.1:8000/todos/about/"> <button style="margin-left:300px;">Learn more</button></a>
      </div>
  </div>
  <div class="container con">
    <h1 style="text-align:center ;padding:5%;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Popular dishes</h1>
    <div class="row">
        <div class="col-xs-6 col-md-5">
          
            <img style="width:500px;" src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=656,h=487,fit=crop/ginza37pa0/img-mnllQgboMqFBl2Rd.png" alt="...">
            <h1>Vegetable Pho</h1>
            <p style="text-align:justify;">Ginza Pho is based on a family recipe that's been handed down for generations. It's a spicy, light and aromatic noodle soup. </p>
            
        </div>
      
        <div class="col-xs-6 col-md-5">
            
              <img style="margin-left:200px;width:500px;" src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=656,h=487,fit=crop/ginza37pa0/img-m2WWRN9xyPu1jxLO.png" alt="...">
              <h1 style="margin-left:200px ;">Tonkatsu Ramen</h1>
              <p style="margin-left:200px;">Our bespoke ramen comes with handmade noodles, a wide array of toppings to choose from and homemade broth.</p>
             <a href="http://127.0.0.1:8000/todos/service/"> <button class="butt">See menu</button></a>
             <br><br>
            
          </div>
          
      </div>
  </div><br><br><br>
  <div class="row">
    <div class="col-xs-6 col-md-5">
      <h1 style="margin-left:200px;padding:10%;font-family:Georgia, 'Times New Roman', Times, serif;text-decoration:double;font-size:50px;">Great food for the whole family</h1>
      <p style="margin-left:250px;">Some of the best memories revolve around good food and family – that's why we welcome all of your loved ones, including children. We have dedicated family seating section towards the back of the restaurant. </p>
    </div>
    
    <div class="col-xs-6 col-md-5">
      <a href="#" class="thumbnail">
        <img style="margin-left:200px;"width=80% src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=656,h=682,fit=crop/ginza37pa0/kids-AoPP9gOjWrh1D5rW.png" alt="...">
      </a>
    </div>
    
  </div>
  <div class="row">
    <div class="col-xs-3 col-md-5">
      <a href="#" class="thumbnail">
        <img style="margin-left:100px ;height:80%;"  src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=656,h=910,fit=crop/ginza37pa0/waiter-AQEElP5bDOC2blKe.png" alt="...">
      </a>
    </div>
    <div class="col-xs-3 col-md-5">
      <h1 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:60px;padding:60px">We are here to <br> lighten up your <br> evening</h1>
      
      <p style="margin-left:50px;">All of our waiters have worked in our kitchen, meaning that they know the menu inside out and can help you, whether you need to check for allergens or need a hand for picking the right kind of wine.</p>
    </div>
    
  </div>
  <div class="row">
    <div class="col-xs-3 col-md-5">
      <h1 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:60px;margin-left: 100px;padding:30px;margin-bottom:30px;">We welcome your <br> animal friends</h1>
      <p style="margin-left:130px;">Our restaurant is pet-friendly, meaning that you can bring your furry friends with you. We ask for calm and collected behavior from all of our animal customers. </p>
    </div>
    <div class="col-xs-3 col-md-5">
      
        <img style="margin-left:200px;" width="80%" src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=656,h=656,fit=crop/ginza37pa0/doggo-m7VVRQnlKbFlRoJV.png" alt="...">
      
    </div>
  </div>
  <br><br><br>
  <div class="container con2">
    <h1 style="text-align:center;padding:100px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size: 50px;">Book a table</h1>
    <p style="text-align:center;">Reserving a table beforehand means less waiting. <br> Groups of 8 or more must reserve ahead of time.</p>
    <a href="http://127.0.0.1:8000/todos/contact/"><button class="butt" style="margin-left:550px;padding:10px">Book now</button></a>
  <br><br>  
  </div>
  {%endblock%}
