{% extends 'base.html'%}
{%block content%}
<head>
    <style>
        .con3{
            background-color: rgb(219, 221, 223);
            

        }
        .con4{
          background-color: rgb(223, 226, 226);
          
        }
        .butt1{
          background-color: rgb(219, 221, 223);
        height:50px;
        width:200px;
        font-size:20px;
        }
        .butt1:hover{
          background-color: black;
          color: aliceblue;
        
        }
        
    </style>
</head>
<h1 style="text-align:center;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:60px;margin-bottom:100px;">Starters</h1>
<div class="row">
    <div class="col-xs-3 col-md-5">
      
        <img style="margin-left:150px;width:80%;margin-bottom:200px;" src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=656,h=487,fit=crop/ginza37pa0/img-YleewgbajMSV1Gby.png" alt="...">
       <h1 style="margin-top:-200px;margin-left:150px;font-family: Georgia, 'Times New Roman', Times, serif;font-size:40px;">Dumplings &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                   $40</h1>
       <p style="margin-left:150px;">Choose from vegetable, chicken or pork filling. Served with dipping sauce and garnish.</p>
    </div>
    <div class="col-xs-3 col-md-5">
        
          <img style="margin-left:250px;width:80%;" src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=656,h=487,fit=crop/ginza37pa0/img-A855Rv48KbhvXDDd.png" alt="...">
          <h2 style="margin-left:250px;font-family:Georgia, 'Times New Roman', Times, serif;font-size:40px">Chef's Special &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$8</h2>
        <p style="margin-left:250px;">Avocado, lime, salmon, mushrooms and garnish served with pickled ginger and spring onions.</p>
      </div>
    
  </div>
  <br><br><br>
  <div class="container con3">
    <h1 style="text-align:center;padding:40px;font-size:60px;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Bowls</h1>
    <div class="row">
        <div class="col-xs-3 col-md-5">
            
          <img style="margin-left:80px;width:500px;" src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=656,h=487,fit=crop/ginza37pa0/img-mnllQgboMqFBl2Rd.png" alt="...">
          <h1 style="margin-left:80px;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:30px">Vegetable Pho</h1><br>
          <p style="margin-left:80px;">Ginza Pho is a spicy, light and aromatic noodle soup served piping hot. </p>

        </div>
        <div class="col-xs-3 col-md-5">
            <img style="margin-left:200px;width:500px;" src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=656,h=487,fit=crop/ginza37pa0/img-m2WWRN9xyPu1jxLO.png" alt="...">
            <h1 style="margin-left:200px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:30px;">Tonkatsu Ramen </h1><br>
            <p style="margin-left:200px;text-align: justify;">Our bespoke ramen comes with handmade noodles, a wide array of toppings and homemade broth.</p>
          </div>
        
      </div>
      <br><br>
      <div class="row">
        <div class="col-xs-3 col-md-5">
          <img style="margin-left:80px;width:500px;" src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=656,h=487,fit=crop/ginza37pa0/img-m6LLpQ9lNVsQZr11.png" alt="...">
          <h1 style="margin-left:80px;font-size:30px;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">Vermicelli Donburi</h1><br>
          <p style="margin-left:80px;">Modern fusion dish combining rice noodles with a classic rice bowl. Vegetarian option available.</p>
        </div>
        <div class="col-xs-3 col-md-5">
            <img style="margin-left:200px;width:500px;" src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=656,h=487,fit=crop/ginza37pa0/img-YKbbRGWeVLUByOVO.png" alt="...">
            <h1 style="margin-left:200px;font-size:30px;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">Teriyaki Donburi</h1><br>
            <p style="margin-left:200px;">A crown pleaser, our homemade teriyaki sauce served with chicken or tofu and greens. </p>
          </div>
        
      </div><br><br><br>
  </div>
  <br><br>
  <h1 style="text-align:center;font-family:Georgia, 'Times New Roman', Times, serif;font-size:60px">&nbsp;Sushi</h1>
  <div class="row">
    <div class="col-xs-3 col-md-5">
        
      <img style="margin-left:150px;width:500px;" src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=656,h=487,fit=crop/ginza37pa0/img-YleewgboOqF0b0BN.png" alt="...">
      <h1 style="margin-left:150px;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:30px">Philadelphia Roll</h1><br>
      <p style="margin-left:150px;">A modern classic. Sushi roll with salmon, avocado, cream cheese, and surimi sticks. </p>

    </div>
    <div class="col-xs-3 col-md-5">
        <img style="margin-left:300px;width:500px;" src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=656,h=487,fit=crop/ginza37pa0/img-Aq224gbPEOSPypxk.png" alt="...">
        <h1 style="margin-left:300px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:30px;">San Francisco Roll  </h1><br>
        <p style="margin-left:300px;text-align: justify;">Inside out roll with surimi, tuna, cream cheese, sesame seeds and fried onions. </p>
      </div>
    
  </div>
  <br><br>
  <div class="row">
    <div class="col-xs-3 col-md-5">
      <img style="margin-left:150px;width:500px;" src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=656,h=487,fit=crop/ginza37pa0/img-mv00grbnMniZx3O6.png" alt="...">
      <h1 style="margin-left:150px;font-size:30px;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">Dragon Roll</h1><br>
      <p style="margin-left:150px;">Inside out roll with fried king prawns, avocado, Japanese omelet and cream cheese.</p>
    </div>
    <div class="col-xs-3 col-md-5">
        <img style="margin-left:300px;width:500px;" src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=656,h=487,fit=crop/ginza37pa0/img-dOqqRnpOj2sDbx8R.png" alt="...">
        <h1 style="margin-left:300px;font-size:30px;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">Nigiri Plate</h1><br>
        <p style="margin-left:300px;">A selection of our finest nigiri: choose from salmon, tuna, tilapia, surimi, prawns and vegetarian options. </p>
      </div>
    
  </div><br><br><br>
  <div class="container con3">
    <h1 style="text-align:center;font-size:60px;font-family: Arial, Helvetica, sans-serif;padding:30px;">Drinks</h1><br><br><br>
    <div class="row">
  <div class="col-xs-3 col-md-5">
    <h1 style="margin-left:100px;font-size:40px;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">Sapporo Beer &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$10</h1><br>
    <p style="margin-left:100px;">Premium Japanese beer.</p>
  </div>
  <div class="col-xs-3 col-md-5">
    <h1 style="margin-left:200px;font-size:40px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Kokuryu Sake &nbsp;&nbsp;$12 </h1><br>
    <p style="margin-left:200px;">Daidinjo sake with a mild aroma and subtle floral notes.</p>
  </div>
  
</div><br><br><br>
<div class="row">
  <div class="col-xs-3 col-md-5">
    <h1 style="margin-left:100px;font-size:40px;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">Tozai Sake &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $34 </h1><br>
    <p style="margin-left:100px;">Smooth, fruity, and cloudy sake, perfect for pairing.</p>
  </div>
  <div class="col-xs-3 col-md-5">
    <h1 style="margin-left:200px;font-size:40px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Juyodai Sake &nbsp;&nbsp; $54</h1><br>
    <p style="margin-left:200px;">An easy-drinking premium sake with a rich flavor.</p>
  </div><br><br><br>
  
</div><br><br><br>


  </div><br><br><br>
  <div class="container con3">
    <h1 style="text-align:center;padding:100px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size: 50px;">Book a table</h1>
    <p style="text-align:center;">Reserving a table beforehand means less waiting. <br> Groups of 8 or more must reserve ahead of time.</p>
    <a href="http://127.0.0.1:8000/todos/contact/"><button class="butt1" style="margin-left:550px;padding:10px">Book now</button></a>
  <br><br>  
  </div><br><br><br><br>
  <div class="container con4">
    <h1 style="font-size:40px;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Some dishes may contain nuts, dairy and other allergens. <a href="http://127.0.0.1:8000/todos/about/"><button class="butt1" style="font-size:30px;">Learn more</button></a></h1>
    
  </div>

  

{%endblock%}

